backend/aws-resources/node_modules
backend/client/node_modules
backend/orders/node_modules
backend/vendor/node_modules
backend/.serverless
backend/aws-resources/.serverless
backend/client/.serverless
backend/client/.dynamodb
backend/client/.webpack
backend/client/coverage
backend/vendor/.serverless
backend/vendor/.dynamodb
backend/vendor/.webpack
backend/vendor/coverage
backend/vendor/build
backend/orders/.serverless
backend/orders/.dynamodb
backend/orders/.webpack
backend/orders/coverage